<div class="message" data-id="<%= message.id %>">
  <span class="time"><%= message.created_at.strftime("[%H:%M:%S]") %></span>
  <span class="user"><%= message.user.name%></span>
  <%= message.text%> 
</div>
