  <h1>Chat</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="chatmessages" id="messages">
        <%= render @messages %>
      </div>
      <%= form_for :message, url: messages_path, :remote => true do |f| %>
        <%= f.text_area :text, :cols => "60", :rows => "4", :placeholder=>"New message", class: "form-control" %>
        <%= f.submit "Send", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
