<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control"%>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    <div class="sign-up-user-message">New user? <%= link_to "Sign up now!", signup_path %></div>
  </div>
</div>