<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <% if signed_in? %>
        <li><%= link_to "Users", users_path unless params.has_value?("users")%></li>
        <li><%= link_to "Chat", messages_path unless params.has_value?("messages")%></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </div>
</header>